@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: 'emerald';
  default: true;
}

:root {
  --radius-field: 2rem;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
