@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    emerald --default,
    forest --prefersdark;
}

@plugin "daisyui/theme" {
  /* name: 'emerald';
  default: true; */
}

:root {
  --radius-field: 2rem;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}
